* text=auto

*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.{ics,[iI][cC][sS]} text eol=crlf
*.sh text eol=lf
*.bash{rc,_profile,_aliases} text eol=lf
*.{ps1,ps[md]1} text eol=lf

LICENSE text eol=lf
*.git{attributes,config,ignore} text eol=lf
*.{txt,md} text eol=lf
*.{json,jsonc} text eol=lf
*.{yml,yaml} text eol=lf
*.[ct]sv text eol=lf
*.{svg,xml,plist} text eol=lf
*.{[ch],[ch]pp,[ch]xx,cc}
*.{[jt]s,[cm][jt]s,[jt]sx} text eol=lf
*.{html,css,svelte} text eol=lf
*.{py,jinja} text eol=lf
*.{clasp,func}ignore text eol=lf
*.npmrc text eol=lf
*.example text eol=lf
*.code-snippets eol=lf
